In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. 깃허브 자신의 계정에 수업과 숙제를 올린 소스코드만 참조가능

(그 외의 참조는 부정으로 간주 F처리)



# 데이터 로드
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'
columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
data = pd.read_csv(url, names=clumns)

# 데이터 확인
print(data.head())

2. 해당 소스를 이용하여 ML 분류 RF, LR, DT

3. 해당 소스를 이용하여 FCNN

4. 해당 소스를 이용하여 CNN

5. 모든 소스에는 F1값 및 confusion matrix 표시

In [7]:
columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [9]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data',names=columns)
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [11]:
# 데이터 확인
print(df.head())

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [18]:
df.describe()

       buying  maint doors persons lug_boot safety  class
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     2       2    small    low  unacc
freq      432    432   432     576      576    576   1210

In [20]:
df.isnull().values.any()

False

In [22]:
df['class'].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [46]:
input = df.drop(['class'],axis=1)
target = df['class']

input,target

(     buying  maint  doors persons lug_boot safety
 0     vhigh  vhigh      2       2    small    low
 1     vhigh  vhigh      2       2    small    med
 2     vhigh  vhigh      2       2    small   high
 3     vhigh  vhigh      2       2      med    low
 4     vhigh  vhigh      2       2      med    med
 ...     ...    ...    ...     ...      ...    ...
 1723    low    low  5more    more      med    med
 1724    low    low  5more    more      med   high
 1725    low    low  5more    more      big    low
 1726    low    low  5more    more      big    med
 1727    low    low  5more    more      big   high

 [1728 rows x 6 columns],
 0       unacc
 1       unacc
 2       unacc
 3       unacc
 4       unacc
         ...
 1723     good
 1724    vgood
 1725    unacc
 1726     good
 1727    vgood
 Name: class, Length: 1728, dtype: object)

In [52]:
input = pd.get_dummies(input)
input.shape

(1728, 21)

In [54]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
target = le.fit_transform(target)
target

array([2, 2, 2, ..., 2, 1, 3])

In [56]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(input,target,test_size=0.2,shuffle=True,random_state=12)

x_train.shape,x_test.shape,y_train.shape,y_test.shape

((1382, 21), (346, 21), (1382,), (346,))

In [62]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

x_train.shape,x_test.shape

((1382, 21), (346, 21))

In [74]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [76]:
lr=LogisticRegression(max_iter=500)
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, y_pred))
print (confusion_matrix(y_test, y_pred))

--- Logistic Regression Classifier ---
0.9248554913294798
[[ 68   1   4   1]
 [  8   7   0   3]
 [  9   0 236   0]
 [  0   0   0   9]]

In [78]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.92      0.86        74
           1       0.88      0.39      0.54        18
           2       0.98      0.96      0.97       245
           3       0.69      1.00      0.82         9

    accuracy                           0.92       346
   macro avg       0.84      0.82      0.80       346
weighted avg       0.93      0.92      0.92       346

In [86]:
# 분류 
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_pred_dtc=dtc.predict(x_test)
print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, y_pred_dtc))
print (confusion_matrix(y_test, y_pred_dtc))

--- Decision Tree Classifier ---
0.9566473988439307
[[ 70   0   3   1]
 [  1  14   2   1]
 [  7   0 238   0]
 [  0   0   0   9]]

In [88]:
print(classification_report(y_test, y_pred_dtc))

              precision    recall  f1-score   support

           0       0.90      0.95      0.92        74
           1       1.00      0.78      0.88        18
           2       0.98      0.97      0.98       245
           3       0.82      1.00      0.90         9

    accuracy                           0.96       346
   macro avg       0.92      0.92      0.92       346
weighted avg       0.96      0.96      0.96       346

In [90]:
# 분류 
rfc=RandomForestClassifier()
rfc.fit(x_train,y_train)
y_pred_rfc=rfc.predict(x_test)
print ("\n--- RandomForest Classifier ---")
print (accuracy_score(y_test, y_pred_rfc))
print (confusion_matrix(y_test, y_pred_rfc))

--- RandomForest Classifier ---
0.9364161849710982
[[ 69   0   4   1]
 [  8   7   0   3]
 [  6   0 239   0]
 [  0   0   0   9]]

In [92]:
print(classification_report(y_test, y_pred_rfc))

              precision    recall  f1-score   support

           0       0.83      0.93      0.88        74
           1       1.00      0.39      0.56        18
           2       0.98      0.98      0.98       245
           3       0.69      1.00      0.82         9

    accuracy                           0.94       346
   macro avg       0.88      0.82      0.81       346
weighted avg       0.94      0.94      0.93       346